
name: Run Ansible Playbook

on:
  workflow_dispatch:
  
  push:
    branches: [ "main" ]
    
jobs:
  run-ansible:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Run Ansible Playbook
        env:
          HOSTNAME: ${{ secrets.VMWARE_HOSTNAME }}
          USERNAME: ${{ secrets.VMWARE_USERNAME }}
          PASSWORD: ${{ secrets.VMWARE_PASSWORD }}
          FOLDER: ${{ secrets.VCENTER_DESTINATION_FOLDER }}
        run: |
          ansible-playbook GetNameofVM.yml \
            --extra-vars "hostname=$HOSTNAME username=$USERNAME password=$PASSWORD vcenter_destination_folder=$FOLDER"

